version: '3.9'
services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: ringa
      POSTGRES_PASSWORD: ringa
      POSTGRES_DB: ringarecord
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - '8081:8080'
    depends_on:
      - db

volumes:
  pgdata: